pkgbase = linux-bede
	pkgdesc = The Linux Kernel and modules, BlackEagle Desktop Edition
	pkgver = 3.4
	pkgrel = 1
	url = http://www.kernel.org
	arch = i686
	arch = x86_64
	license = GPL2
	options = !strip
	source = http://www.kernel.org/pub/linux/kernel/v3.x/linux-3.4.tar.bz2
	source = config-3.4-desktop.i686
	source = config-3.4-desktop.x86_64
	source = linux-bede.preset
	source = sysctl-desktop.i686
	source = sysctl-desktop.x86_64
	sha256sums = a797a15d0b6228381507c14ecf4eec4a6cc5c77cfd521ba3b3e1325e85b5b16d
	sha256sums = b960e58739769a7762c8d899f77f493a0366e6dab3ce0b62831250244226f677
	sha256sums = af10ab753c54f08cc023b5946a2437fba94260f27c0da1ea289aacf98e477481
	sha256sums = d5bb4aabbd556f8a3452198ac42cad6ecfae020b124bcfea0aa7344de2aec3b5
	sha256sums = cce2cd65f49ef30e9f2c977210fcb3f21707b53088615eb737e2bb53c67ca7c9
	sha256sums = 5d59b290f2ec7354048e24cc52048e104fa91a3ac4c393adbb0e268c129d03e2

pkgname = linux-bede
	pkgdesc = The Linux Kernel and modules, BlackEagle Desktop Edition
	install = linux-bede.install
	groups = base
	depends = coreutils
	depends = kmod
	depends = mkinitcpio>=0.7
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: when having some hardware needing special firmware
	provides = linux
	replaces = nouveau-drm
	replaces = kernel26-slk
	replaces = kernel26-bede
	replaces = linux-bemm
	backup = etc/mkinitcpio.d/linux-bede.preset
	backup = etc/sysctl.d/sysctl-linux-bede.conf

pkgname = linux-bede-headers
	pkgdesc = Header files and scripts for building modules for linux-bede
	provides = linux-headers
	replaces = kernel26-bede-headers
	replaces = linux-bemm-headers

