pkgbase = linux-bede
	pkgver = 3.17.6
	pkgrel = 1
	url = http://www.kernel.org
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = kmod
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v3.x/linux-3.17.tar.xz
	source = config-desktop.i686
	source = config-desktop.x86_64
	source = linux-bede.preset
	source = sysctl-linux-bede.conf
	source = https://www.kernel.org/pub/linux/kernel/v3.x/patch-3.17.6.xz
	sha256sums = f5153ec93c5fcd41b247950e6a9bcbc63fa87beafd112c133a622439a0f76251
	sha256sums = 14cd296a42457c8814818e19fdc2b1441981141969c2abe2cf2f3a06704fb8ee
	sha256sums = f1b5e361356eec1be584cd055b8d976e404feb105c5f51b9b5fb7f11fe9f17cd
	sha256sums = d5bb4aabbd556f8a3452198ac42cad6ecfae020b124bcfea0aa7344de2aec3b5
	sha256sums = e939ae473776190eb327e3afd5315626d6ac87a84b5475e08979c319e917a1d4
	sha256sums = 30d8e0da16ac7cc8be13cd6da72ddc487e8c24fb662caf69da7f6d375fdc1aab

pkgname = linux-bede
	pkgdesc = The Linux Kernel and modules, BlackEagle Desktop Edition
	install = linux-bede.install
	depends = coreutils
	depends = kmod>=10
	depends = mkinitcpio>=0.9
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: when having some hardware needing special firmware
	provides = linux
	replaces = nouveau-drm
	replaces = kernel26-slk
	replaces = kernel26-bede
	replaces = linux-bemm
	backup = etc/mkinitcpio.d/linux-bede.preset

pkgname = linux-bede-headers
	pkgdesc = Header files and scripts for building modules for linux-bede
	provides = linux-headers
	replaces = kernel26-bede-headers
	replaces = linux-bemm-headers

